<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form id="form_login" action="login"  method="post">

        <label for="email">Email <input id="input_mail" type="text" name="mail" placeholder="email"> </label><br>
        <label for="password">Password <input id="input_pwd" type="text" name="password" placeholder="password"> </label>
        <!-- 
         <button th:onclick="login()">Login</button>
         -->
         <button id="btn_login">Login</button>

    </form>
    
    <script type="text/javascript">
    
    window.addEventListener('DOMContentLoaded', (event) => {
		
		let btn = document.getElementById("btn_login");
		btn.addEventListener('click',login);
		document
			.getElementById("form_login")
			.addEventListener('submit',
					e=>e.preventDefault());
    });
    
    function login(){
    	
    	let mail = document.getElementById('input_mail').value;
    	let pwd = document.getElementById('input_pwd').value;
    	
    	const link = "http://127.0.0.1:8080/api/utente/login";
    	
    	fetch(link,{
    		method:"POST",
    		body: JSON.stringify({
    	         mail: mail,
    	         password: pwd,
    	      }),
    	    headers:{
	    	    'Content-Type': 'application/json'
    	    }
    	}).then(res=>{
            if(res.ok)
                return res.json();
        }).then(json=>{
            console.log(json);
            if(json.code == 1)
                window.location="/index";
        })
    }
    </script>
</body>
</html>