<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form action="">

        <label for="email">Email <input id="input_mail" type="text" placeholder="email"> </label><br>
        <label for="password">Password <input id="input_pwd" type="text" placeholder="password"> </label>
        <button th:onclick="login()">Login</button>

    </form>
    
    <script type="text/javascript">
    function login(){
    	
    	let mail = document.getElementById('input_mail').value;
    	let pwd = document.getElementById('input_pwd').value;
    	
    	fetch("login",{
    		method:"POST",
    		body: JSON.stringify({
    	         mail: mail,
    	         password: pwd,
    	      }),
    	    headers:{
	    	    'content-type':'application/json'
    	    }
    	}).than(response=>{
    		console.log(response.status);
    	}).catch();
    }
    </script>
</body>
</html>