<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Articolo</title>
</head>
<body>

   
		<h1>MVC</h1>
		<h2>Aggiungi Cliente</h2>
		<form action="#" th:action="@{/lista-clienti/modifica}" method="post" th:object="${cliente}">
			<input type="hidden" name="id" th:value="*{id}">
			<div>
				<label for="cognome">Cognome</label> 
				<input type="text" name="cognome" th:value="*{cognome}"> 
			</div>
			<div>
				<label for="nome">Nome</label> 
				<input type="text" name="nome" id="nome" th:value="*{nome}" >
			</div>
			<div>
				<label for="telefono">Telefono</label> 
				<input type="text" name="telefono" th:value="*{telefono}"> 
			</div>
			<div>
				<label for="email">Email</label> 
				<input type="email" name="email" th:value="*{email}">
			</div>
            <div>
				<label for="indirizzo">Indirizzo</label> 
				<input type="text" name="indirizzo" th:value="*{indirizzo}">
			</div>
			<div>
				<label for="citta">Città</label> 
				<input type="text" name="citta" th:value="*{citta}">
			</div>
			<div>
				<label for="provincia">Provincia</label> 
				<input type="text" name="provincia" th:value="*{provincia}">
			</div>
			<div>
				<label for="regione">Regione</label> 
				<input type="text" name="regione" th:value="*{regione}">
			</div>
			<div>
				<label for="credito">Credito</label> 
				<input type="text" name="credito" th:value="*{credito}">
			</div>
			
			<input type="submit" value="Aggiungi">
        
</form>

</body>
</html>